---
layout: default
---

<div class="inner">

  <h1>Research or Work experiences</h1>

  <p class="fancy">
  will be updated.
  </p>

  <ul class="portfolio-nav">
    <li {% if page.url == '/portfolio/index.html' %}class="active"{% endif %}>
      <a href="/portfolio/">Products</a>
    </li><li {% if page.url == '/portfolio/code.html' %}class="active"{% endif %}>
      <a href="/portfolio/code.html">Code</a>
    </li><li {% if page.url == '/portfolio/courses.html' %}class="active"{% endif %}>
      <a href="/portfolio/courses.html">Courses</a>
    </li>
  </ul>

  {{ content }}

  <div class="fancy center convinced">
    <!-- <a class="btn btn-lg" href="http://freelancebooking.pro/en/users/ssaunier">Book me</a>

    <br /><br /> -->

  </div>

</div>
